<h1>Корзина</h1>
<div id="card">
{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>название курса</th>
                <th>количество</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button data-id="{{id}}" data-csrf="{{@root.csrf}}" class="js-remove btn btn-small">удалить</button>
                </td>
            </tr>
    
            {{/each}}
                </tbody>
        </table>
            <p><strong>цена:</strong><span class="price">{{price}}</span></p>
        
    <form action="/orders" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}"/>
        <button type="submit" class="btn">Сделать заказ</button>
    </form>
{{else}}
    <p>корзина пуста</p>
{{/if}}
</div>